<h1>コピったー</h1>
<p><%= notice %></p>
<table id="time_line">
<% @posts.each do |post| %>
  <tr>
    <th>ユーザーネーム</th>
    <td><%= post.content %><td>
    <td id="投稿日"><%= post.created_at.strftime("%y-%m-%d %H:%M") %><td>
    <td><%= link_to '編集する', edit_post_path(post.id) %></td>
    <td><%= link_to '削除する', post_path(post.id), method: :delete, data: { confirm: '投稿を削除してよろしいですか？'} %></td>
  </tr>
<% end %>
</table>

<%= link_to "新規投稿", new_post_path %>

