<!DOCTYPE html>
<html>
  <head>
    <title>Copytter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="t_container">
      <div class="t_title">
        <h1>コピったー</h1>
      </div>
      <div class="t_contents">
        <%= yield %>
      </div>
    </div> 
    <footer>フッター部</footer>
  </body>
</html>
